USE [BD_BIBLIO]
GO
/****** Object:  Table [dbo].[AUTEUR]    Script Date: 05/08/2021 03:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTEUR](
	[ID_AUTEUR] [int] IDENTITY(1,1) NOT NULL,
	[NOM_AUTEUR] [nvarchar](100) NULL,
	[DATE_SAISIE] [datetime] NULL,
 CONSTRAINT [PK_AUTEUR] PRIMARY KEY CLUSTERED 
(
	[ID_AUTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURANT]    Script Date: 05/08/2021 03:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURANT](
	[ID_COURANT] [int] IDENTITY(1,1) NOT NULL,
	[NOM_COURANT] [nvarchar](50) NULL,
	[DATE_SAISIE] [datetime] NULL,
	[ID_GENRE] [int] NULL,
 CONSTRAINT [PK_COURANT] PRIMARY KEY CLUSTERED 
(
	[ID_COURANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITEUR]    Script Date: 05/08/2021 03:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITEUR](
	[ID_EDITEUR] [int] IDENTITY(1,1) NOT NULL,
	[NOM_EDITEUR] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[DATE_SAISIE] [datetime] NULL,
 CONSTRAINT [PK_EDITEUR] PRIMARY KEY CLUSTERED 
(
	[ID_EDITEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 05/08/2021 03:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[ID_GENRE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_GENRE] [nvarchar](50) NULL,
	[DATE_SAISIE] [datetime] NULL,
 CONSTRAINT [PK_GENRE] PRIMARY KEY CLUSTERED 
(
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRE]    Script Date: 05/08/2021 03:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRE](
	[ID_LIVRE] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](50) NULL,
	[TITRE] [nvarchar](50) NULL,
	[ANNEE_EDITION] [date] NULL,
	[FICHIER] [nchar](10) NULL,
	[DATE_SAISIE] [datetime] NULL,
	[ID_AUTEUR] [int] NULL,
	[ID_GENRE] [int] NULL,
	[ID_EDITEUR] [int] NULL,
 CONSTRAINT [PK_LIVRE] PRIMARY KEY CLUSTERED 
(
	[ID_LIVRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURANT]  WITH CHECK ADD  CONSTRAINT [FK_COURANT_GENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRE] ([ID_GENRE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COURANT] CHECK CONSTRAINT [FK_COURANT_GENRE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_AUTEUR] FOREIGN KEY([ID_AUTEUR])
REFERENCES [dbo].[AUTEUR] ([ID_AUTEUR])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_AUTEUR]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_EDITEUR] FOREIGN KEY([ID_EDITEUR])
REFERENCES [dbo].[EDITEUR] ([ID_EDITEUR])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_EDITEUR]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_GENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRE] ([ID_GENRE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_GENRE]
GO
